<footer class='site-footer'>

  <div class='wrapper'>

    <div class='footer-col-wrapper'>

      <div class='footer-col about-information'>
        <p>{{ site.description }}</p>
      </div>

      <div class='footer-col'>
        <ul class='social-media-list'>
          {% if site.github_username %}
          <li>
            {% include icon-github.html username=site.github_username %}
          </li>
          {% endif %}

          {% if site.twitter_username %}
          <li>
            {% include icon-twitter.html username=site.twitter_username %}
          </li>
          {% endif %}
        </ul>
      </div>
    </div>

  </div>

</footer>
