@keyframes bob {
  0%   { transform: translateY(0); }
  25% { transform: translateY(6px); }
  50% { transform: translateY(3px); }
  75% { transform: translateY(6px); }
  100% { transform: translateY(0); }
}
