/**
 * Site footer
 */
.site-footer {
  background-color: $footer-color;
  color: $footer-text-color;
  padding-bottom: 48px;
  height: 317px;

  @include when-using(979px) {
    padding-bottom: 0;
  }

  @include when-using(766px) {
    height: 113px;
  }

  a {
    color: $footer-text-color;
  }
}

.footer-heading {
  font-size: 18px;
}

.contact-list,
.social-media-list {
  list-style: none;
  margin: 0;
}

.footer-col-wrapper {
  font-size: 15px;
  margin-left: -$spacing-unit / 2;
  @extend %clearfix;

  @include when-using(768px) {
    display: flex;
    align-items: center;
  }
}

.footer-col {
  &:not(.about-information) {
    @include when-using($laptop) {
      margin-left: auto;
    }
  }

  @include when-using(768px) {
    flex: 1;
    display: flex;
    justify-content: flex-end;
  }

  span.keyword {
    color: $keyword-color;
    font-weight: 700;
  }
}

.about-information {
  display: flex;
  padding: 20px;
  align-items: center;
  max-width: 600px;
  margin: 0 auto;
  line-height: 2;
  font-size: 1.8em;
  text-align: center;
  transition: color 300ms;
  color: $footer-text-color;

  @include when-using(950px) {
    font-size: 1.8em;
  }

  @include when-using(920px) {
    font-size: 1.6em;
    min-width: 600px;
  }

  @include when-using(820px) {
    font-size: 1.4em;
    min-width: 500px;
    text-align: center;
    display: block;
  }

  @include when-using(768px) {
    margin-right: auto;
    font-size: 1.4em;
    padding-top: 0;
    padding-bottom: 0;
    min-width: 640px;
    display: block;
  }
}

.social-media-list {
  display: flex;
  background-color: $primary-color;

  @include when-using(768px) {
    flex: 1;
    max-width: 260px;
  }

  @include when-using($tablet) {
    border-top-style: none;
  }

  > li {
    flex: 1;

    > a {
      color: $footer-color;
      display: block;
      text-align: center;
      padding: 30px 0;
      transition: all 300ms;
      border-left: 1px solid darken($primary-color, 15%);

      @include when-using(768px) {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
      }

      &:hover {
        color: $white;
        background-color: darken($primary-color, 15%);

        .icon svg {
          path {
            fill: $white;
          }
        }
      }

      .icon svg {
        path {
          fill: $white;
        }
        height: 30px;
        width: 30px;

        @include when-using(768px) {
          height: 25px;
          width: 25px;
          margin: 0 auto;
        }
      }

      .username {
        color: $white;
        display: block;
        font-size: 1.2em;
        padding-top: 4px;

        @include when-using(768px) {
          font-size: 1em;
        }

        @include when-using($laptop) {
          padding-top: 5px;
        }
      }
    }
  }
}

.btn.subscribe-link {
  border-style: none;
  border-radius: 0;
  display: block;
  margin: 15px 30px;
  transition: all 300ms;
  border: 1px solid rgba(255, 255, 255, 0.2);
  color: rgba(255, 255, 255, 0.6);
  font-size: 1.2em;

  &:hover {
    color: $white;
    border: 1px solid $white;
  }

  @include when-using(768px) {
    font-size: 0.9em;
    padding: 10px 0;
    margin: 15px auto;
  }
}
