/**
 * Site header
 */
.site-header {
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  right: 0;
  transition: all 400ms;
  height: 105px;

  &.active {
    z-index: 10002;
  }
}

.site-title-wrapper {
  color: $white;
  padding-top: $spacing-unit;
  padding-left: 10px;
  position: relative;
  font-family: $logo-font-family;
  line-height: 40px;
  display: inline-flex;
  flex-direction: row;
  font-size: 30px;

  &:hover,
  &:active {
    color: $white;
  }

  &.dark {
    color: $primary-color;

    .site-logo path {
      &:first-child {
        stroke: $primary-color;
      }
      &:last-child {
        fill: $primary-color;
      }
    }
  }

  .site-logo {
    height: 35px;
    width: 35px;
    display: block;
    margin: 0 auto;

    path {
      &:first-child {
        stroke: $white;
      }
      &:last-child {
        fill: $white;
      }
    }
  }

  .site-title {
    margin-left: 5px;
  }
}

.site-nav-trigger {
  cursor: pointer;
  display: block;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 10003;
  width: 70px;
  height: 50px;
  line-height: 0;
  text-align: center;
  color: $white;
  transition: top 50ms;

  &:hover,
  &:focus {
    outline: none;
  }

  &.active {
    top: 0;
  }
}

/*** Hamburger styles ***/
.hamburger-menu {
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
  transition: all 200ms;
  background-color: transparent;
  outline: 4px solid transparent;

  .site-nav-trigger.active & {
    path:nth-child(1) {
      transform: rotate(51deg);
      transform-origin: 7px 2px;
      transition-delay: 75ms;
    }
    path:nth-child(2) {
      transform: translateX(100px);
      transition: all 200ms;
    }
    path:nth-child(3) {
      transform: rotate(-51deg);
      transform-origin: 7px 23px;
      transition-delay: 75ms;
    }
  }

  path {
    stroke: $primary-color;
    stroke-width: 6px;
    transition: all 300ms;
    transform: none;
  }
}

.site-nav {
  position: fixed;
  z-index: 1000;
  top: 0;
  right: -9999px;
  bottom: 0;
  transition: all 50ms;
  background-color: $menu-background-color;
  padding-top: 60px;
  max-width: 600px;
  min-width: 600px;
  height: 100%;
  min-height: 900px;

  &.active {
    right: 0;
    z-index: 10000;
  }
}

.site-nav-pages {
  position: relative;
  display: flex;
  flex-direction: column;

  .site-nav-info,
  .site-nav-group-about,
  .site-nav-group,
  .site-nav-page {
    padding: 0;
    margin: 0;
    list-style: none;
  }

  .site-nav-group-about {
    margin-top: 30px;
  }

  .site-nav-group {
    text-align: center;
    line-height: 60px;
    font-size: 1.3em;
    vertical-align: middle;
  }

  .site-nav-info {
    margin-top: auto;

    p {
      padding: 0 40px 20px;
      text-align: justify;
      line-height: 2;

      &:nth-of-type(1) {
        padding-top: 20px;
        font-size: 1.2em;
      }
    }

    span.keyword {
      border-bottom: 2px dotted $keyword-color;
    }
  }

  .site-nav-page {
    background-color: $menu-item-background-color;
    transition: all 300ms;

    &:hover {
      background-color: $menu-item-background-hover-color;

      a {
        color: $menu-item-hover-color;
      }
    }

    a {
      display: flex;
      align-items: center;
      border-bottom: 1px solid rgba(255, 255, 255, 0.2);
      color: $menu-item-color;
      line-height: 2;
      padding: 15px 20px;
      font-size: 1.2em;

      span:first-child {
        margin-right: auto;
        text-transform: uppercase;
      }

      span:last-child {
        font-size: 0.7em;
      }
    }
  }
}
