/**
 * Posts
 */

$post-max-width: 1200px;
$post-gutter: 2rem;
$post-spacer: 1.5rem;

.post-container {
  background-repeat: no-repeat;
  padding-top: 80px;

  @include when-using($tablet) {
    background-size: contain;
  }

  @include when-using($laptop) {
    padding-top: 120px;
  }
}

.post {
  margin: 0 auto;
}

.post-list {
  margin-left: 0;
  list-style: none;
}

.post-link {
  display: block;
  font-size: 24px;
  text-shadow: -10px 10px 0px rgba(0, 0, 0, 0.2);
  transform: skew(2deg) rotate(-2deg);
}

.post-header {
  color: $white;
  padding: 60px 0 0;
  text-align: right;
}

.post-title-container {
  padding: 0 $post-spacer;
  margin-bottom: 45px;
}

.post-title {
  color: $white;
  font-size: 2.5em;
  letter-spacing: -1px;
  line-height: 1;
  text-align: right;
  margin: 0;
  padding: 0;
  font-weight: 700;

  @include when-using($tablet) {
    font-size: 3.5em;
  }

  @include when-using($laptop) {
    max-width: 1200px;
    margin: 0 auto;
    font-size: 5em;
  }
}

.post-author {
  display: flex;
  align-items: center;
  flex-direction: column;
  color: $secondary-color;
  background-color: $white;
  font-weight: 700;
  position: relative;

  img {
    width: 90px;
    height: 90px;
    margin: -45px 0 10px;
    border: 4px solid $white;

    @include when-using($tablet) {
      font-size: 5em;
      width: 120px;
      height: 120px;
      margin-top: -60px;
    }
  }

  > span {
    @include when-using(575px) {
      position: absolute;
      top: 50%;
      transform: translate(-50%, -50%);
      left: 50%;
      margin-left: 141px;
      margin-top: -15px;
    }
  }

  i {
    padding-right: 2px;
    font-weight: 100;
  }
}

.post-meta {
  font-size: $small-font-size;
  color: $white;
  text-align: right;
  padding: $post-spacer 0 $post-spacer;
  margin: 0 auto;

  @include when-using($laptop) {
    max-width: 1200px;
  }

  time {
    margin-right: 20px;
    color: $white;
  }

  [itemprop="author"] {
    margin-left: 20px;
    color: $white;
  }
}

.post-content {
  background-color: $white;
  color: $black;
  padding: $post-spacer 0;
  min-height: 100vh;
  font-weight: 300;

  @include when-using($tablet) {
    text-align: left;
  }
}

.post-content-inner {
  max-width: 1200px;
  margin: 20px auto;

  blockquote {
    font-size: 1em;
    font-family: 'Merriweather';
    text-align: left;
    margin-bottom: 40px;
    padding: 30px;

    &:not(:first-child) {
      margin-top: 40px;
    }

    @include when-using($tablet) {
      font-size: 1.4em;
      padding: 50px 60px;
    }

    p {
      padding: 20px;
      width: 90%;

      a {
        font-size: 0.8rem;
        display: block;
        text-align: right;
        border-bottom-style: none;
        cursor: pointer;

        &:before {
          content: ' -- ';
        }
      }
    }
  }

  p {
    font-size: 1.3em;
    margin-bottom: 20px;
    line-height: 2;
    padding: 0 $spacing-unit;
  }

  ol,
  ul {
    margin-left: 45px;
    margin-bottom: 10px;

    li {
      list-style-type: upper-roman;
      line-height: 2;
    }
  }

  h1, h2, h3, h4 {
    font-size: 2.0em;
    clear: both;
    text-align: left;
    font-weight: 700;
    margin-bottom: 20px;
    padding: 0 $spacing-unit;
  }

  h1 {
    font-size: 2.2em;

    @include when-using($laptop) {
      font-size: 3em;
    }
  }

  a {
    border-bottom: 1px dotted $primary-color-light;
  }

  iframe {
    margin: 30px auto;
  }

  figure {
    margin: $spacing-unit 0;
  }

  pre {
    padding: 20px 40px;
  }

  pre, code {
    border-color: darken($tan, 5%);
    background-color: lighten($tan, 5%);
  }

  .left-rounded-image {
    display: block;
    margin: $post-spacer auto;
    width: 100%;
    height: auto;
    border-radius: 50%;
    max-width: 250px;

    @include when-using($tablet) {
      margin: 0 $post-spacer $post-spacer 0;
      float: left;
      width: 200px;
      height: 200px;
    }
  }
}

.disqus-container {
  background-color: $white;
  padding: 20px 0;
  margin: 0 auto;
}

/**
 * Featured post content
 */


.featured-post-list {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: -24px 0 0;
  padding: 0;
}

.no-posts-container {
  height: 100vh;
  font-size: 6em;
  padding-top: 40px;
  text-align: center;
  font-family: 'Satisfy';
  transform: rotate(-8deg) translateX(10%);

  @include when-using($tablet) {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: rotate(-8deg) translate(-50%, -50%);
    padding-top: 0;
    height: auto;
  }
}

.featured-post {
  height: 100vh;
  background-color: #000;
  background-size: cover;
  background-position: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  flex-direction: column;
}

.featured-post-heading {
  font-size: 3em;
  font-weight: 700;
  text-shadow: 0px 2px 0px rgba(0, 0, 0, 0.4);
  text-align: center;
  color: $white;
  line-height: 1;
  visibility: hidden;

  @include when-using($tablet) {
    font-size: 4.5em;
  }

  @include when-using($laptop) {
    font-size: 6.5em;
  }

  .active & a {
    color: $white;
    font-size: 4em;
    text-align: center;

    &:hover {
      color: $white;
      text-decoration: none;
    }

    @include when-using($mobile) {
      font-size: 2.5em;
      line-height: 1.5;
    }
  }
}

.featured-post-url {
  text-align: right;
  margin-top: 24px;

  @include when-using($laptop) {
    margin: 0 30px;
    padding: 30px;
    transition: all 1s;
  }
}

.featured-post-button {
  margin-top: 40px;
  padding: 10px 30px;
  font-size: 1em;
  transition: all 100ms;
  color: $white;
  opacity: 0;
  font-family: $button-font-family;
  position: relative;

  .featured-post.active & {
    opacity: 1;
  }

  span {
    position: relative;
    z-index: 2;
  }

  &:after {
    content: ' ';
    position: absolute;
    top: 40px;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: $primary-color;
    z-index: 1;
    transition: all 500ms;
  }

  &:hover,
  &:active {
    animation: bob 2s infinite;
    color: $white;

    &:after {
      top: 0;
    }
  }
}

.featured-post-meta {
  display: flex;
  flex-direction: row;
  padding: 20px 0 0;
  align-items: center;
  justify-content: flex-end;
  opacity: 0;
  transition: opacity 100ms;

  .featured-post.active & {
    opacity: 1;
  }
}

.featured-post-date {
  color: $white;

  &:after {
    content: '\00B7';
    padding: 0 10px;
    color: rgba(255, 255, 255, 0.5);
  }
}

.featured-post-comments {
  color: $white;
  border-bottom: 1px solid transparent;

  &:hover {
    border-bottom: 1px solid $white;
  }
}

.comments-section {
  max-width: 1200px;
  margin: 40px auto;
  min-height: 100px;
  padding: 0 40px;
  color: $white;
}
