<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    {% include header.html %}

    <main class="site-content js-site-content">
      {{ content }}
    </main>

    {% include footer.html %}

    <script src='https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.2.1/lodash.min.js'></script>
    <script src='https://code.jquery.com/jquery-2.2.0.min.js'></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/velocity/1.2.3/velocity.min.js'></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/lettering.js/0.7.0/jquery.lettering.min.js'></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/textillate/0.4.0/jquery.textillate.min.js'></script>
    <script src='{{ "/js/main.js" | prepend: site.baseurl }}'></script>
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-74241109-1', 'auto');
      ga('send', 'pageview');

    </script>

    <!-- Sharing sidebar -->
    <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-56e5f343e3518df6"></script>

    <!-- Mobile share -->
    <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-56e5f343e3518df6"></script>

    <!-- Disqus count script -->
    <script id="dsq-count-scr" src="//sturdynut.disqus.com/count.js" async></script>
  </body>

</html>
